{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}</p>
</div>
<div id="post-box">
  <div id="post" itemprop="articleBody">
    {{ if not .Date.IsZero }}
      <p style="text-align: center"><i>{{dateFormat "2 Jan, 2006" .Date}}</i></p>
    {{ end }}
      {{.Content | safeHTML}}
  
  </div>
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}